* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Optima';
}

#main {
    background-image: url('../images/main-intro.jpg');
    background-size: cover;
    height: 100vh;
    z-index: 3;
}

.navbar-brand {
    position: absolute;
    left: 62px;
    top: 37px;
}

.navbar {
    position: absolute;
    right: 80px;
    top: 20px;
    font-size: 15p;
    font-family: Libby;
}

.navbar ul {
    display: flex;
    flex-direction: row;
}

.navbar li {
    margin: 1rem;
    list-style-type: none;
}

.navbar a {
    text-decoration: none;
    color: #685d54;
}

#intro {
    position: absolute;
    width: 55%;
    left: 80px;
    bottom: 80px;
    margin: 0rem;
    border: 2px solid white;
    border-image: linear-gradient(45deg, white, transparent 20%)1;
}

#intro h1 {
    font-family: 'Optima';
    font-size: 100px;
    font-weight: 100;
    line-height: 1.2;
    color: white;
    padding: 20px 50px;
    margin: 0;
}

#intro p {
    font-family: Helvetica;
    margin-left: 3rem;
    margin-bottom: 3rem;
    margin-top: 1.5rem;
    line-height: 1.4;
    font-size: 20px;
    font-weight: 100;
    color: white;
}

#deco-border {
    position: absolute;
    right: 80px;
    bottom: 0;
    width: 55%;
    height: 79px;
    border: 2px solid white;
    border-image: linear-gradient(205deg, white, transparent 30%)1;
    /* border-image: linear-gradient(270deg, white, transparent 30%) no-repeat border-box, linear-gradient(180deg, white, transparent 10%) no-repeat border-box; */
    border-bottom: 0;
}

#overlap {
    position: absolute;
    bottom: 0px;
    z-index: 1;
}

#interface {
    height: 620px;
    width: 100vw;
    background-image: url('/images/interface.png');
    background-size: cover;
    position: absolute;
    bottom: -350px;
    z-index: 0;
}

#arrow-btn {
    position: absolute;
    margin: 0 auto;
    left: 49%;
    bottom: 45px;
    z-index: 9;
    border: 1px solid red;
}


/* ---------------------------------------------- */

#trip-by-region {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 80px;
}

.region-container {
    flex: 1;
    /* float: left; */
    /* min-width: 440px; */
    height: 586px;
    overflow: hidden;
    /* background-size: cover; */
    text-align: center;
}


/* .region-img {
    position: relative;
} */

.region-link {
    height: 586px;
    width: 1%;
    display: table-cell;
    position: relative;
    text-decoration: none;
    z-index: 1;
    color: white;
}

.region-header {
    margin-top: 400px;
    padding: 0 20px;
    opacity: 0;
    transform: translateY(140px);
}

.region-title {
    display: inline-block;
    font-size: 2rem;
    font-weight: 400;
    text-transform: uppercase;
    padding-bottom: 10px;
    transform: translateY(460px);
    transition: transform 1.5s ease 0s;
    border-bottom: 1px solid white;
}


/* .region-summary {
    opacity: 0;
} */

.region-arrow {
    display: block;
    position: relative;
    margin: 1rem auto;
}

.region-overlay {
    /* background-image: url(./images/page2-destination/01_NA/shade@2x.png); */
    background-color: rgba(0, 0, 0, .4);
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 25%;
    opacity: 0;
    z-index: 0;
    transition: opacity .35s ease 0s, transform .35s ease 0s;
    /* border: 2px solid blue; */
}

.region-link:hover .region-title {
    transform: translateY(360px);
    transition: all 1s ease;
}

.region-link:hover .region-header {
    transform: translateY(0);
    opacity: 1;
    transition: all 1s ease;
}

.region-link:hover .region-overlay {
    opacity: 1;
    transition: all 1s ease;
}

.region-link:hover .region-container {
    transition: all 1s ease;
    transform: scale(1.2);
}


/* ---------------------------------------------- */

#best-experience {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 40% 60%;
    margin-top: 150px;
}

#left-container {
    display: grid;
    grid-template-rows: 60% 10% 30%;
    margin-left: 3rem;
}

#exp-header {
    /* align-self: flex-end; */
    padding: 5rem 1rem 1rem;
    border: 2px solid black;
    border-image: linear-gradient(160deg, black, transparent 30%)1;
}

#exp-nav {
    display: flex;
    flex-direction: row;
    height: 110px;
}

#exp-nav * {
    vertical-align: middle;
}

#left-container h1 {
    font-weight: 400;
    font-size: 3rem;
    padding: 4rem 0 2rem;
}

#left-container p {
    font-size: 1.3rem;
}

.owl-nav {
    display: inline-block;
    height: 100%;
    /* border: 2px solid red; */
}

.owl-nav button {
    background-color: #fff;
    border: none;
}

.owl-dots {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.owl-dot {
    border: none;
    background: #fff;
}

.owl-dot span {
    background-color: #ccc;
    border: none;
    border-radius: 2px;
    display: block;
    width: 45px;
    height: 4px;
    margin: 0 1px;
}

.owl-item .active span,
.owl-dots .owl-dot:hover span {
    background: #5a4d9e;
}

#page-num {
    display: block;
    color: #5a4d9e;
    font-size: 3rem;
    margin-left: 1rem;
}

#page-num span {
    display: block;
    height: 110px;
}

.owl-stage {
    left: -60px;
}

.item img {
    width: 100px;
    height: 80%;
}

.reflect {
    position: absolute;
    /* display: block; */
    width: 800px;
    height: 600px;
    margin: 0 2rem;
    opacity: .4;
    z-index: 1;
    /* top: 900px; */
    /* transform: translateY(800px); */
    background-color: #f00;
}


/* ---------------------------------------------- */

#about {
    height: 100vh;
}

#travel-with-kids {
    height: 100vh;
}

#contact {
    height: 100vh;
}